<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post">
            <label for="email" id="emial">Correo</label>
            <input type="email" name="emial" id="email">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password">
            <button type="submit">enviar</button>
        </form>
    </div>
</body>
</html>